@import "~~/node_modules/bootstrap/scss/bootstrap.scss";
//@import "https://use.fontawesome.com/releases/v5.6.1/css/all.css"

body {
  background-color: #212529;
  font-family: 'Varela Round', sans-serif;

  a {
    color: #a1a9b0;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #a1a9b0;
    }
  }
}

.header-container {
  background-color: #212529;
}
footer {
  padding: 10% 0 0 0px;
  text-align: center;
  .footer-list {
    margin: 0 0 50px 0;
    li {
      display: inline-block;
      padding: 0 10px;

    }
  }
  .copy {
    color: #a1a9b0;
    font-size: 9px;
  }
}

.section-padding {
  padding: 100px 0 100px 0;
  background: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

@for $i from 1 through 5 {
  .bounce-in#{$i} {
    -webkit-animation: bounce-in 1s ease 1 forwards;
    animation: bounce-in 1s ease 1 forwards;
    @if $i == 1 {
      animation-delay: 0.5s;
    } @else if $i  == 2 {
      animation-delay: 1s;
    } @else if $i  == 3 {
      animation-delay: 1.5s;
    } @else if $i  == 4 {
      animation-delay: 2s;
    } @else if $i  == 5 {
      animation-delay: 2.5s;
    }
  }
}

.bounce-in {
  -webkit-animation: bounce-in 1s ease 0.5s 1 forwards;
  animation: bounce-in 1s ease 0.5s 1 forwards;
}

.fede-in--deley1 {
  -webkit-animation: fede-in 1s ease 2s 1 forwards;
  animation: fede-in 1s ease 2s 1 forwards;
}

.fede-in--deley2 {
  -webkit-animation: fede-in 1s ease 2.5s 1 forwards;
  animation: fede-in 1s ease 2.5s 1 forwards;
}


@-webkit-keyframes fede-in {
  100% {
    opacity: 1;
  }
}
@keyframes fede-in {
  100% {
    opacity: 1;
  }
}
